/* Moves everything to the corner because it took away the padding and margin */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
  }

/* Introduces the background color and moves the nav links to center and increases their font */
.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

/* Style Nav container */
.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
  }

/* Style Nav logo */
#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

/* Style Nav menu (all links)*/
.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

/* Style navbar item (home,about and services) */
.navbar__item {
    height: 80px;
}

/* Style the nav links */
.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* creates the spaces btwn them */
    width: 125px;
    text-decoration: none;
    /* makes them nicely centered */
    height: 100%;
    /* gives it a nice clean smooth effect */
    transition: all 0.3s ease;
}

/* Syle nav button (signup) */
.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

/* Style the button */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    /* styles the button with a mixture of colors (find it on websites with gradients) */
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    color: #fff;
    transition: all 0.3s ease;
}

/* Hover action on our links */
.navbar__links:hover {
    color: #9518fc;
    /* gives it a nice clean smooth effect when you hover on it */
    transition: all 0.3s ease;
}

/* Mess around with the media queries */
@media screen and (max-width: 960px) {
    /* Target the nav container */
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }

    /* Target the navbar menu */
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        /* this is the drop down effect. position has to be absolute */
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
      }

    /* navbar menu active - it showcases that when the icon is clicked */
    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }
    /* Target the nav logo */
    #navbar__logo {
        padding-left: 25px;
    }

    /* Create the actual hamburger menu */
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    /* Target the navbar item */
    .navbar__item {
        width: 100%;
    }

    /* Target the navbar links */
    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        /* the links are centered */
        display: table;
    }

    /* Targets the button */
    .navbar__btn {
        /* the button comes 2rem abouve the edge of the nav container */
        padding-bottom: 2rem;
    }

    /* still on the button (becomes thicker) */
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    /* Targetour mobile menu (changes of screen sizes) */
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    /* Lets get the menu on the top right (the three lines on the furthest topright) */
    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    /* add a class is active and whenever its clicked i want it to be toggled. */
    /* on the bars thats child of two  (targets second child and it dissappears there*/
    /* I want it todo alittle cool spin */
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    /* targets first child */
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    /* targets second child */
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

